{% extends "store/layouts/main.html" %}
{% block content %}

<div class="py-3 bg-primary">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}">Home /</a>
        <a class="text-white" href="{% url 'myorders' %}">My Orders </a>
    </div>
</div>

<div class="container my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <h3>My orders</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Order Date</th>
                                <th>Total Price</th>
                                <th>Order Status</th>
                                <th>Action</th>
                                <th>Return/Exchange</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in orders %}
                            <tr>
                                <td>{{ item.order_id }}</td>
                                <td>{{ item.order_date }}</td>
                                <td>{{ item.total_amount }}</td>
                                <td>{{ item.status }}</td>
                                <td><a href="{% url "orderview" item.order_id %}" class="btn btn-primary">View</a></td>
                                <td><a href="{% url "return_order" item.order_id %}" class="btn btn-primary">Return</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                     
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
